<html>
	<head>
		{% block header_javascript %} 
			<script type="text/javascript" src="/static/node_modules/jquery/dist/jquery.min.js"></script>
			<link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" media="all">
			<!--<script type="text/javascript" src="/static/js/account/common.js"></script>-->
			<!-- toastr -->
			<!-- <script type="text/javascript" src="/static/node_modules/toastr/build/toastr.min.js"></script>
			<link rel="stylesheet" href="/static/node_modules/toastr/build/toastr.min.css" media="all"> -->
			<link rel="stylesheet" href="/static/css/main.css" media="all">
			<script> {% block commonjs %} {% endblock commonjs %}</script>
		{% endblock header_javascript %} 
		<title> {% block title %}{% endblock title %}</title>
		<style>{% block style %}{% endblock style %}</style>
	</head>
	<body> 
		{% block header %} {% endblock header %}
		{% block right-menu %} {% endblock right-menu %}
		{% block left-menu %} {% endblock left-menu %}
		{% block content %} {% endblock content %}
		{% block footer %} {% endblock footer %}
	</body>
</html>
	