{% extends "base_site.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/node_modules/toastr/build/toastr.min.css" media="all">
    <link rel="stylesheet" href="/static/css/datatables.min.css" media="all">
{% endblock style %}

{% block script %} 
    <script type="text/javascript" src="/static/node_modules/datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static/js/account/common.js"></script>
    <script type="text/javascript" src="/static/node_modules/toastr/build/toastr.min.js"></script>
    {% if code != 2031%}
        <script type ="text/javascript" src="/static/js/account/adminusers.js"></script> 
    {% endif %}
{% endblock script %}

{% block content %}
<div class="report mastery">
    <div id="main" class="site-main">
        <div class="content-area"> 
            <div class="site-content">
                <h1 class="section-title"> User registration approval </h1><br>
                <input type="hidden" id="userData" name="data" value="{{data.pendingUsers|safe}}">
                <input type="hidden" id="code" name="statuscode" value={{code}}>
                <input type="hidden" id="csrfcode" name="csrftoken" value={{csrf_token}}>
                <div id="section-radio">
                    <input type="radio" name="Active_user" value="Active" id = "radAll">
                    <label for="Active_user">All</label>
                    <input type="radio" name="Active_user" value="Active" id = "radActive">
                    <label for="Active_user">Active</label>
                    <input type="radio" name="Active_user" value="Inactive" id = "radInActive">
                    <label for="InActive_user">Inactive</label> 
                </div>
                <table id="usertable" class="display" cellspacing="0" width="100%">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}