{% extends "base_site.html" %}

{% block title %}Nalanda Visualizer{% endblock title %}
{% block script %}
{% if code != 0 %}
<script>
    $(document).ready(function() {
		{% if info.title %}
		toastr.error('{{ info.message }}', '{{ info.title }}');
		{% endif %}
		{% if not info.title %}
		toastr.error('{{ info.message }}');
		{% endif %}
	});
</script>
{% endif %}
{% endblock script %}

{% block content %} 
<div class="report mastery">
    
    <div id="main" class="site-main">
        <div class="content-area">
            <div id="primary" class="site-content">
	            <h3>Welcome !!1!</h3>
	            <br>
	            <p>Please choose an item from the left sidebar to proceed.</p>
	            <br>
	            <p class="status-update">Data Last Updated: {{ data.dateUpdated }}</p>
            </div>
        </div>
        
    </div>
    <!--
	{{ data }}    
	-->
</div>
{% endblock content %}