
{% extends "base.html" %}
{% block style %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
{% endblock style %}
{% block title %}Nalanda Visualizer{% endblock %}
{% block content %}
<body class ="login">


    <div class="content">
      <div class="site-title">Nalanda Visualizer</div>
        <h2>Login to your account</h2>
        {% if form.non_field_errors %}
            <ul class='error'>
                {% for error in form.non_field_errors %}
                   <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="login-form" method="POST"  >{% csrf_token %}
            <div class="input">
                <i class="glyphicon glyphicon-user"></i>
                <input name="username" id="id_username" type="text" class="form-control" placeholder="Username" required="true" autofocus="autofocus">
            </div>
            <div class="input">
                <i class="glyphicon glyphicon-lock"></i>
                <input name="password" id="id_password" type="password" class="form-control" placeholder="Password" required="true">
            </div>
            <button name="submit" type="submit" class="btn btn-success submit-button">Login <i class="glyphicon glyphicon-log-in"></i></button>
        </form>
        <div class="alternate-option">
            Doesn’t have an account? <a href="{% url 'register' %}">Click to register</a>
        </div>
        <div class="alternate-option">
            <a href="{% url 'password_reset' %}">Forgot Password</a>
        </div>
    </div>
</body>
{% endblock %}
