{% extends "base.html" %}
    {% block style %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    {% endblock style %}
    {% block script %}
        <script type="text/javascript">

            // initialize data from the template
            institutedata = {{data|safe}};
            
            $(document).ready(function () {

                // on page load follloiwng actions should be taken
                // 1. hide institutes drop down and classes drop down
                $("#InstitutesSelecDiv").hide();
                $("#ClassesSelectDiv").hide();

                // This function is performed when role is changed
                // It shows institutes or classes based on role sleected
                $("#id_role").change(function () {
                    var e = document.getElementById("id_role");
                    var strUserRole = e.options[e.selectedIndex].value;
                    $("#InstitutesSelecDivforBM").hide();
                    $("#InstitutesSelecDiv").hide();
                    $("#ClassesSelectDiv").hide();
                    if (strUserRole != "" && strUserRole != 1) {
                        $("#InstitutesSelecDiv").show();
                        $("#id_institutes").val("");
                    }
                    else if (strUserRole == 1){
                        select  = document.getElementById('id_institutes');
                        var option = ""
                        var institutesforbm = ""
                        $.each(select, function(k,v)
                        {
                            if (v.value!=""){
                                option += '<input type="checkbox" name="institutesforbm"  value="' + v.value + '"/> ' + v.text + '<br />'
                            }
                        });
                        institutesforbm = option
                        $("#checkBoxesOuterdivforBM div").html(institutesforbm);
                        if (institutesforbm!="")
                            $("#InstitutesSelecDivforBM").show();
                        // $("#InstitutesSelecDiv").show();
                        // $("#id_institutes").val("");
                    }
                    else
                    {
                        $("#InstitutesSelecDiv").hide();
                        $("#id_institutes").val("");
                    }
                }).change();

                // This function is performed when institute is changed or selected
                // It shows classes based on role selected
                $('#id_institutes').change(function () {
                    $("#ClassesSelectDiv").hide();
                    var valueSelected = $(this).val();
                    idselected = $('#id_role').val();
                    var classes = '';        
                    if (idselected == 3 && valueSelected !='') {
                        var option = ""
                        // var option = "<option value>---------</option>";
                        $.each(institutedata[valueSelected], function(k,v){
                            option += '<input type="checkbox" name="classes"  value="' + v.class_id + '"/> ' + v.class_name + '<br />'
                        });
                        classes = option 
                    }
                    
                    $("#checkBoxesOuterdiv div").html(classes);
                    if (classes!="")
                        $("#ClassesSelectDiv").show();
                }).change();
            });
        </script>
        {% if code == 0 %}
            <div class="error">{{ info.message }}</div>
        {% elif code == 1006%}
            <div class="info">{{ info.message }}</div>
        {% endif %}
 
    {% endblock script %}
{% block content %}
<body class="login">
<h1 class="site-title">Nalanda Visualizer</h1>
<div class="content">
    <h2>Register a new account</h2>
    <!--<div><label id="Message" class="label label-info"></label></div>-->
    <div  id="Message"></div>
    
    
    <form id="register" method="POST">
        {% csrf_token %}
        <div class ="row">
            <div class="col-sm-6">
                {{ form.first_name.label_tag }}
                <div class ="input">
                    {{ form.first_name }}
                </div>
            </div>   
            <div class="col-sm-6">
                {{ form.last_name.label_tag }}
                <div class ="input">
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                {{ form.username.label_tag }}
                <div class ="input">
                    {{ form.username }}
                </div>
            </div>   
            <div class="col-sm-6">
                {{ form.password.label_tag }}
                <div class ="input">
                    {{ form.password }}
                </div>
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                {{ form.confirm_password.label_tag }}
                <div class ="input">
                    {{ form.confirm_password }}
                </div>
            </div>
            <div class="col-sm-6">
                {{ form.email.label_tag }}
                <div class ="input">
                    {{ form.email }}
                </div>
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                {{ form.role.label_tag }}
                <div class ="input">
                    {{ form.role }}
                </div>
            </div>
            <div class="col-sm-6">
                <div id="InstitutesSelecDiv">
                    {{ form.institutes.label_tag }}
                    <div class="input">
                       {{ form.institutes }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="InstitutesSelecDivforBM">
                    <div id = "checkBoxesOuterdivforBM">
                        {{ form.institutesforbm.label_tag }}
                        <div class="input">
                        {   { form.institutesforbm }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                <div id = "ClassesSelectDiv">
                    <div id="checkBoxesOuterdiv">
                        {{ form.classes.label_tag }}
                        <div class="input">
                            {{ form.classes }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div>
           <button name="submit" type="submit" class="btn btn-success submit-button">Register </button>
        </div>
    </form>
   
    <div class="alternate-option">
        Already has an account? <a href="{% url 'login' %}">Click to login</a>
    </div>
</div>
</body>
{% endblock content %}
