{% extends "base.html" %}
    {% block style %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    {% endblock style %}
    {% block script %}
        <script type = "text/javascript" src= "/static/js/account/register.js"></script>
    {% endblock script %}
{% block content %}
<body class="login">
<div class="content">
  <h1 class="site-title">Nalanda Visualizer</h1>
    <h2>Register a new account</h2>
    <input type="hidden" id="schooldata" name="schools" value="eval({{data|safe}})">
    <div id="Message">
        {% if code == 0 %}
            <div class="error">{{ info.message }}</div>
        {% elif code == 1006%}
            <div class="info">{{ info.message }}</div>
        {% endif %}
    </div>

    <form id="register" method="POST">
        {% csrf_token %}
        <div class ="row">
            <div class="col-sm-6">
                {{ form.first_name.label_tag }}
                <div class ="input">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="col-sm-6">
                {{ form.last_name.label_tag }}
                <div class ="input">
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                {{ form.username.label_tag }}
                <div class ="input">
                    {{ form.username }}
                </div>
            </div>
            <div class="col-sm-6">
                {{ form.password.label_tag }}
                <div class ="input">
                    {{ form.password }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class = 'errormessage'>
                    <span id="errorname"></span>
                </div>
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                {{ form.confirm_password.label_tag }}
                <div class ="input">
                    {{ form.confirm_password }}
                </div>
            </div>
            <div class="col-sm-6">
                {{ form.email.label_tag }}
                <div class ="input">
                    {{ form.email }}
                </div>
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                {{ form.role.label_tag }}
                <div class ="input">
                    {{ form.role }}
                </div>
            </div>
            <div class="col-sm-6">
                <div id="InstitutesSelecDiv">
                    {{ form.institutes.label_tag }}
                    <div class="input">
                       {{ form.institutes }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="InstitutesSelecDivforBM">
                    <div id = "checkBoxesOuterdivforBM">
                        {{ form.institutesforbm.label_tag }}
                        <div class="input">
                        {   { form.institutesforbm }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-6">
                <div id = "ClassesSelectDiv" style="overflow:auto; max-height:100px;">
                    <div id="checkBoxesOuterdiv">
                        {{ form.classes.label_tag }}
                        <div class="input">
                            {{ form.classes }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="alternate-option col-sm-9">
              Already has an account? <a href="{% url 'login' %}">Click to login</a>
          </div>
          <div class="col-sm-3">
           <button name="submit" type="submit" class="btn btn-success submit-button">Register </button>
         </div>
        </div>
    </form>


</div>
</body>
{% endblock content %}
