<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">

    <!-- jquery -->
    <script type="text/javascript" src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" media="all">
    <!-- jquery fancytree -->
    <script type="text/javascript" src="/static/node_modules/jquery.fancytree/dist/jquery.fancytree-all-deps.min.js"></script>
    <link rel="stylesheet" href="/static/node_modules/jquery.fancytree/dist/skin-lion/ui.fancytree.min.css" media="all">
	<!-- datatables -->
	<link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css"/>
	<script type="text/javascript" src="/static/js/datatables.min.js"></script>
    <!-- bootstrap daterangepicker -->
    <script type="text/javascript" src="/static/node_modules/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap-daterangepicker/daterangepicker.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
    <!-- google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- toastr -->
    <script type="text/javascript" src="/static/node_modules/toastr/build/toastr.min.js"></script>
    <link rel="stylesheet" href="/static/node_modules/toastr/build/toastr.min.css" media="all">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    
    <!-- PAGE SPECIFICS -->
    <script type="text/javascript" src="/static/js/account/common.js"></script>
    <script type="text/javascript" src="/static/js/account/report.js"></script>
    <link rel="stylesheet" href="/static/css/main.css" media="all">

    <title>Student Mastery Report</title>


    {% if code != 0 %}
	<script>
		{% if info.title %}
		toastr.error('{{ info.message }}', '{{ info.title }}');
		{% endif %}
		{% if not info.title %}
		toastr.error('{{ info.message }}');
		{% endif %}
	</script>
    {% endif %}
</head>

<body class="report mastery">
    <header id="masthead" class="site-header">
        <div class="inner">
            <h1 class="site-title"><a class="site-title-link">Nalanda Visualizer</a></h1>
            <!--<span style="color:#ffffff">Current User: {{ "current_user" }}</span>-->
            <a href="./logout" class="log-out" title="Log Out"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
        </div>
    </header>
    <div id="main" class="site-main">
        <div class="content-area">
            <div id="primary" class="site-content">
                <div class="report-header">
                    <h1 class="page-title">Report: Student Mastery</h1>
                    <div class="btn-group report-types" role="group">
                        <button type="button" class="btn btn-primary switch-view-button switch-view-button-1 current" onclick="switchView(1);">
                        	<i class="fa fa-table" aria-hidden="true"></i><span class="text"> Table</span>
                        </button>
                        <button type="button" class="btn btn-default switch-view-button switch-view-button-2" onclick="switchView(2);">
                        	<i class="fa fa-align-left" aria-hidden="true"></i><span class="text"> Compare</span>
                        </button>
                        <button type="button" class="btn btn-default switch-view-button switch-view-button-3" onclick="switchView(3);">
                        	<i class="fa fa-tachometer" aria-hidden="true"></i><span class="text"> Performance</span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="report-settings row">
                    <div class="topic">
                        Topic: 
                        <button class="btn btn-default toggle-button" type="button">
                            <span class="topic-dropdown-text">Everything</span>
                            <span class="caret"></span>
                        </button>
                        <div id="topic-dropdown-container" class="topic-dropdown-container">
	                        <div class="search">
    	                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
		                        <input type="search" id="topic-filter-field" placeholder="Filter topics...">
	                        </div>
                            <div id="topics-tree"></div>
                            <div class="controls">
	                            <button class="btn btn-success btn-xs apply-button" onclick="applyAndDismissTopicDropdown();">Apply</button>
	                            <button class="btn btn-default btn-xs cancel-button" onclick="closeTopicDropdown();">Cancel</button>
	                            <button class="btn btn-default btn-xs expand-button" onclick="toggleTopicDropdownExpandAll();" data-expand="true">Expand All</button>
                            </div>
                        </div>
                    </div>
                    <div class="dates">
                        <div class="datepicker-title">Date Range:</div>
                        <input class="daterangepicker" name="daterange">
                    </div>
                </div>
                <div class="report-breadcrumb"></div>
                <div class="report-content">
                    <div class="table-view report-view report-view-1">
	                    <h2 class="section-title">Table View</h2>
                        <table id="data-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="name-column">Name</th>
                                    <!-- metric columns -->
                                    <th class="trend-column">Trend</th>
                                </tr>
                            </thead>
                            <tbody><!-- data rows --></tbody>
                        </table>
                        <h2 class="section-title">Aggregations</h2>
                        <table id="aggregation-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="name-column">Name</th>
                                    <!-- metric columns -->
                                    <th class="trend-column"></th>
                                </tr>
                            </thead>
                            <tbody><!-- data rows --></tbody>
                        </table>
                        <div class="trend-chart hidden">
                            <div class="chart-container">
                                <div class="dismiss-chart-button" onclick="dismissTrendChart();"><i class="fa fa-window-close" aria-hidden="true"></i></div>
                                <div id="chart-wrapper"></div>
                            </div>
                        </div>
                    </div>
                    <div class="compare-view report-view report-view-2 hidden">
	                    <h2 class="section-title">Compare View</h2>
                        <table id="data-compare-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="name-column">Name</th>
                                    <th>
                                        Metric:
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="current-metric">Metric to Compare</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-dropdownMenu1" aria-labelledby="dropdownMenu1"></ul>
                                        </div>
                                    </th>
                                    <th class="bar-column">
                                        <span>Compare to:</span>
                                        <div class="dropdown"><button class="btn btn-default">Text</button></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody><!-- data rows --></tbody>
                        </table>
                    </div>
                    <div class="performance-view report-view report-view-3 hidden">
	                    <h2 class="section-title">Performance View</h2>
                        <table id="data-performance-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="name-column">Name</th>
                                    <th>
                                        Metric: 
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="current-metric">Metric to Compare</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-metric dropdown-dropdownMenu2" aria-labelledby="dropdownMenu2"></ul>
                                        </div>
                                    </th>
                                    <th class="bar-column">
                                        Compare To:
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="current-compared-value">Max</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-value dropdown-dropdownMenu3" aria-labelledby="dropdownMenu3">
                                                <li class="compare-max"><a href="#" onclick="setPerformanceCompareToValue('max');">Max</a></li>
                                                <li class="compare-min"><a href="#" onclick="setPerformanceCompareToValue('min');">Min</a></li>
                                                <li class="compare-average"><a href="#" onclick="setPerformanceCompareToValue('average');">Average</a></li>
                                                <li class="compare-median"><a href="#" onclick="setPerformanceCompareToValue('median');">Median</a></li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody><!-- data rows --></tbody>
                        </table>                        
                    </div>
                </div>
                <div class="loading-info-container hidden">
                    <div class="loading-info">Loading…</div>
                </div>
                <div class="prevents-interaction hidden"></div>
            </div>
        </div>
        <div id="secondary" class="site-sidebar">
            <ul class="site-navigation">
                {% if user.is_superuser %}
                    <li class="heading">Admin</li>
                    <li class="navigation-item"><a href="./admin-users"><i class="glyphicon glyphicon-user"></i>&nbsp; Users</a></li>
                {% else %}

                <li class="heading">Welcome: {{ user.username }}</li>
                <li class="heading">Role: {{ user.groups.values.0.name }}</li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</body>
</html>