
{% extends "account_base.html" %}
{% block style %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<style>
.errorlist{
    padding:5px;
    background-color:#f2dede;
    border:1px solid #ebccd1;
    color:#a94442;
    margin-bottom: 0px;
    list-style: none;
}
</style>
{% endblock style %}

{% block title %}Nalanda Visualizer{% endblock %}

{% block content %}
<body class ="login">
    <h1 class="site-title">Nalanda Visualizer</h1>
    
    <div class="content">
        <h2>Reset the password</h2>


        {% if validlink %}
       
 
        <form method="post" class="login-form">{% csrf_token %}
                {{ form.new_password1.errors }}
                <div class="input">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input name="new_password1" type="password" class="form-control" placeholder="Enter password">
                </div>
                
                    <!-- <p class="displaymessage">{{ form.new_password1 }}</p> -->  
                
                {{ form.new_password2.errors }}
                <div class="input">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input name="new_password2" type="password" class="form-control" placeholder="Confirm password">
                </div>
                

               
                <!-- <i class="glyphicon glyphicon-lock"></i> -->
                <!-- <input name="id_new_password1" type="password" class="form-control" placeholder="Enter password"> -->
                <!-- {{ form.new_password1.label_tag }} -->
                    <!-- Enter password: {{ form.new_password1 }} -->
                
            <!-- <div class="input"> -->
                <!-- {{ form.new_password2.errors }} -->
                <!-- <i class="glyphicon glyphicon-lock"></i> -->
                <!-- <input name="id_new_password2" type="password" class="form-control" placeholder="Re-enter the password"> -->
                    <!-- Re-enter password:{{ form.new_password2 }} -->
            <!-- </div> -->
            <button name="submit" type="submit" class="btn btn-success submit-button">Submit</button>
        </form>
        <div class="alternate-option">
            Click here to <a href="/account/login">Login</a>
        </div>
        {% else %}

        <p class = "displaymessage">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        <br>
        <div class="alternate-option">
            Click here to <a href="/account/login">Login</a>
        </div>
        <br>
        {% endif %}
    </div>
</body>
{% endblock %}
  


