
{% extends "base_site.html" %}
{% load i18n %}
{% block style %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
{% endblock style %}

{% block title %}Nalanda Visualizer{% endblock %}

{% block content %}
<body class ="login">
    <h1 class="site-title">Nalanda Visualizer</h1>
    
    <div class="content">
        <h2>Forget Password</h2>
        {% if form.email.errors%}
        <div class="error">
        	{% for error in form.email.errors%}
        	{{ error }}
        	{%endfor%}
        </div>
        {%endif%}
   
        <form method="post" >{% csrf_token %}
		<fieldset class="module aligned">
		    <div class="form-row field-email">
		        <div class="input">
                	<i class="glyphicon glyphicon-user"></i>
                	<input name="email" type="text" class="form-control" placeholder="Email Address">
            	</div>

		    <button type="submit" text= "Reset my password" class="btn btn-success submit-button">Reset my password</button>


            
		</fieldset>
		</form>
	    <div class="alternate-option">
            Click here to <a href="/account/login">Login</a>
       	</div>
   
    </div>
</body>
{% endblock %}
  




