

{% extends "base.html" %}
{% block style %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
{% endblock style %}

{% block title %}Nalanda Visualizer{% endblock %}


{% block content %}
<div class ="login">
    <script>
        $('.inner').remove();
    </script>
    <div class="content" style="background-color:white" >
      <h1 class="site-title">Nalanda Visualizer</h1>

    	<h2>Reset the password</h2>
    	<br />

		<p class="displaymessage"> We've emailed you instructions for setting your
				password,if an account exists with the email
				you entered.You should receive them shortly.<br /><br />

				If you don't receive an email, please make sure
				you've entered the address you registered with,
				and check your spam folder.
 		</p>
 		<br />
 		<div class="alternate-option-click_here_to_login">
 			Click here to <a href="/account/login">Login</a>
        </div>
        <br>
    </div>
</div>
{% endblock %}
