

{% extends "base_site.html" %}
{% block style %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
{% endblock style %}

{% block title %}Nalanda Visualizer{% endblock %}


{% block content %}
<div class ="login">
    <h1 class="site-title">Nalanda Visualizer</h1>
    <script>
        $('.inner').remove();
    </script>
    <div class="content">
    	<h2>Reset the password</h2>
    	<br />
   
        <p class="displaymessage">Your password has been set.  You may go ahead and log in now.</p>
    	<br>
		<div class="alternate-option">
           Click here to <a href="/account/login">Login</a>
        </div>
   		<br>
    </div>
</div>
{% endblock %}