/*

    Main CSS Styles for the Kolibri visualizer.
    
    Author: Renfei Song

------------------------------------------------------------------------ */

body {
    font-family: 'Roboto', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #3d3d3d;
    line-height: 1.5;
    font-size: 14px;
}

a,
a:hover {
    color: #039be5;
}

a.dt-button,
a.dt-button:hover {
    color: black;
}

mark,
.mark {
    padding: 0;
    font-weight: bold;
    background: none;
    text-decoration: underline;
}

body.report.mastery {
    min-width: 795px;
}

.site-header {
    background-color: #1f1f1f;
    width: 100%;
    height: 46px;
    top: 0;
    position: fixed;
    z-index: 10000;
}

.site-title {
    line-height: 46px;
    font-size: 18px;
    padding: 0 15px;
    display: inline-block;
    margin: 0;
}

.site-title-link {
    color: #fff;
    font-weight: 400;
    transition: color .4s ease;
    text-decoration: none !important;
}

.site-title-link:hover {
    color: #aaa;
}

.log-out {
    color: #999999;
    text-decoration: none;
    float: right;
    line-height: 46px;
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
}

.log-out:hover {
    color: #999999;
    background-color: #393939;
    text-decoration: none;
}

.site-main::before,
.site-main::after {
    content: "";
    display: table;
}

.site-main {
    margin-top: 46px;
}

/* primary content */

.content-area {
    float: left;
    width: 100%;
}

.site-content {
    margin-left: 195px;
    padding: 25px;
    background: #ffffff;
    position: relative;
}

/* sidebar */

.site-sidebar {
    width: 195px;
    float: left;
    margin: 0 0 0 -100%;
    position: relative;
    z-index: 2;
}

.site-navigation {
    padding: 0;
}

.site-navigation li {
    list-style: none;
}

.site-navigation li a {
    color: #d9d9d9;
    border-top: 1px solid #484848;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 300;
}

.site-navigation li.current a,
.site-navigation li.current a:hover {
    background: #E53935;
    color: #ffffff;
    border-top-color: transparent;
}

.site-navigation li.current + li a {
    border-top-color: transparent;
}

.site-navigation li a:hover {
    background: #303030;
    color: #d9d9d9;
}

.site-navigation li.heading {
    padding: 15px;
    color: #9e9e9e;
    text-transform: uppercase;
    font-weight: 300;
}

/* footer */

.site-footer {
    position: relative;
    z-index: 3;
    padding: 0 20px;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    clear: left;
    color: #a3a3a3;
}

/* login/register */

.login .site-title,
.account-disabled .site-title {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
    display: block;
    line-height: 20px;
    color: #fff;
}

.login .content {
    background-color: #ffffff;
    width: 400px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.login form {
    padding: 20px 30px 15px;
}

.login form::after,
.account-disabled .content::after{
    content: "";
    display: table;
    clear: both;
}

.login h2 {
    font-weight: 300;
    font-size: 23px;
    padding: 20px 30px 0;
}

.login .error {
    padding: 9px 30px 8px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-left-width: 0;
    border-right-width: 0;
    color: #a94442;
    margin: 15px 0 0;
}

.login .success {
    padding: 9px 30px 8px;
    background-color: #DCEDC8;
    border: 1px solid #C5E1A5;
    border-left-width: 0;
    border-right-width: 0;
    color: #558B2F;
    margin: 15px 0 0;
}

.login .input {
    margin-bottom: 15px;
    border-left: 2px solid #35aa47;
}

.login .input i {
    color: #ccc;
    display:block;
    position: absolute;
    top: auto;
    margin: 10px 2px 7px 10px;
    width: 16px;
    height: 16px;
    text-align:center;
}

.login .form-control {
    padding-left: 33px;
    border-left: 0;
    border-radius: 0;
    box-shadow: none;
}

.login .form-control:focus {
    border-color: #aaa;
}

.login label {
    display: inline-block;
    margin: 6px 0;
    font-weight: normal;
}

.login .submit-button {
    float: right;
    margin: 0;
}

.login .alternate-option {
    border-top: 1px dotted #eee;
    padding:10px 30px 10px;
    font-size:12px;
}

/* mastery */

.report-header {
    margin: 0 0 20px;
}

.report-header .page-title {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 34px;
}

.report-header .report-types {
    float: right;
}

.page-title {
    font-size: 28px;
}

.section-title {
    font-size: 22px;
    margin: 20px 0;
}

.report-settings {
    margin: 15px 0;
}

.report-settings .topic {
    width: auto;
    padding-left: 2px;
    float: left;
    position: relative;
    margin-right: 30px;
}

.report-settings .dates {
    float: left;
    position: relative;
}

input.daterangepicker {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    margin: 0;
    padding: 6px;
    width: 180px;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.datepicker-title {
    display: inline-block;
    padding: 5px 0;
}

.report-view {
    display: block;
}

.report-view.hidden {
    display: none;
}

.topic-dropdown-container {
    position: absolute;
    z-index: 9999;
    margin-left: 41px;
    margin-top: 2px;
    min-width: 250px;
    display: none;
    padding: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 3px 8px #ddd;
}

.topic-dropdown-container .search {
    padding: 6px;
}

.topic-dropdown-container .controls {
    background: #f6f6f6;
    margin: 0;
    padding: 10px;
    border-radius: 0 0 4px 4px; /* avoid background cutting the container's rounded border */
    border-top: 1px solid #ddd;
}

.topic-dropdown-container .expand-button {
    float: right;
}

.topic-dropdown-container.shown {
    display: block;
}

#topics-tree {
    max-height: 350px;
    overflow-y: scroll;
    margin: 0 0 6px;
}

#topic-filter-field {
    outline: none;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 3px 5px 3px 25px;
    line-height: 18px;
    box-shadow: inset 1px 1px 1px #eee;
}

#topic-dropdown-container .search-icon {
    position: absolute ;
    left: 15px;
    top: 12px;
    color: #999;
}

ul.fancytree-container {
    outline: none;
    border: none;
}

.topic-dropdown {
    display: none;
}

.topic-dropdown.shown {
    display: block;
}

.report-breadcrumb {
    margin: 15px 0 20px;
    background: #f5f5f5;
    padding: 10px 14px;
    /* border: 1px solid #ddd; */
    border-radius: 6px;
}

.trend-chart {
    width: 950px;
    margin: 60px auto 20px;
    border: 2px solid #ddd;
}

.trend-chart.hidden {
    display: none;
}

.chart-container {
    position: relative;
    padding: 20px;
}

.dismiss-chart-button {
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    right: 30px;
    font-size: 20px;
    color: #777;
}

.progress {
    margin: 0;
}

.progress-negative {
    float: left ;
    width: 50%;
    border-radius: 4px 0 0 4px;
}

.progress-positive {
    width: 50%;
    border-radius: 0 4px 4px 0;
}

.progress-negative .progress-bar {
    float: right;
}

.progress-bar {
    text-shadow: 1px 1px #555;
}

thead .dropdown {
    display: inline-block;
    width: 260px; /* only affects the width of the placeholder div; does not cut-off actual content */
}

th {
    outline: none;
}

th.bar-column {
    min-width: 300px;
}

th.name-column {
    min-width: 100px;
}

#data-table thead tr {
    height: 55px; /* effectively functions as min-height */
}

#data-table td:last-child {
    padding: 5px 10px;
}

#data-compare-table th:last-child span,
#data-compare-table th:last-child .dropdown button {
    opacity: 0;
    cursor: default;
}

.dataTables_filter input[type=search] {
    box-shadow: inset 1px 1px 1px #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 18px;
    padding: 6px 5px;
    font-weight: normal;
    outline: none;
}

.draw-trend-button {
    padding: 2px 8px;
}

/* use material design color scheme */

.progress-bar {
    background-color: #2196F3;
}

.progress-bar-danger {
    background-color: #F44336;
}

.progress-bar-success {
    background-color: #4CAF50;
}

.btn-default {
    background-color: #fff;
    border-color: #ddd;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: #eee !important;
    border-color: #ddd !important;
}

.btn-primary {
    background-color: #03A9F4;
    border-color: #0288D1;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #039BE5 !important;
    border-color: #0277BD !important;
}

.btn-success {
    background-color: #66BB6A;
    border-color: #43A047;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
    background-color: #43A047 !important;
    border-color: #2E7D32 !important;
}

.btn-group > .btn:hover {
    z-index: auto;
}

.btn-group > .btn.current {
    z-index: 2;
}

.loading-info-container {
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 99999;
    width: 100%;
    margin-left: -220px;
    display: block;
}

.loading-info-container.hidden {
    display: none;
}

.loading-info {
    background: #f9ecc0;
    display: table;
    border: 1px solid #f3ca7d;
    border-top: none;
    padding: 2px 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 4px 4px;
}

.status-update {
    color: #999;
}

.prevents-interaction {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 999999;
}

.prevents-interaction.hidden {
    display: none;
}

input[type='radio'], label{   
    vertical-align: baseline;
    padding: 5px;
    margin: 5px;
 }

#section-radio {
    position: absolute;
    width: 400px;
    /*height: 200px;*/
    z-index: 15;
    /*top: 50%;*/
    left: 37%;
    /*margin: -100px 0 0 -150px;*/
    /*background: red;*/
}

.info {
    padding: 9px 30px 8px;
    background-color: #45e611;;
    border: 1px solid #1af30c;
    border-left-width: 0;
    border-right-width: 0;
    color: #101010;
    margin: 15px 0 0;
}
.displaymessage{
    margin: 0 0 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:#fff;
}
@media (max-width: 1000px) {
    .page-title {
        font-size: 23px;
    }
    .site-content {
        margin-left: 135px;
    }
    .site-sidebar {
        width: 135px;
    }
}

